@font-face {
    font-family: 'digital-font'; 
    src: url('fonts/digital-7.ttf');
}

#page{
    display: flex;
    justify-content: space-around;
    background: #1B244A;
    color: #FFFFFF;
    margin: 20px auto;
    border: solid 4px #FFFFFF;
    height: 250px;
    padding: 0;
    width: 450px;
    border-radius: 20px;
    padding:0;
}


.block{
    width: 150px;
    height: 240px;
    text-align:center;
    font-family: 'digital-font', arial;
}

.number{
    background: #000000;
    width: 120px;
    height: 50px;
    display:flex;
    margin: 0 auto;
    color:#F94F6D;
    font-size: 60px;
    padding: 20px 10px;
    align-items: center;
    justify-content:center;
    border-radius:5px;
}
.add-btn{
    width: 35px;
    height: 35px;
    border: solid 1px #FFFFFF;
    background: #1B244A;
    margin: 20px 2px 0px 3px;
    border-radius:4px;
    color: #FFFFFF;
}

.counter{
    font-size:30px;
    font-family:arial;
    height:16px;
    margin-top:20px
}
.new-btn{
    width:400px;
    height:50px;
    border: solid 0px black;
    background: #457b9d;
    border-radius:10px;
    font-size:20px;
    font-family: arial;
}
#items{
    display:flex;
    margin: 0 auto;
    border: solid 0px black;
    width: 400px;
}
#home-el{
    font-size:76px;
    font-style: bold;
}
#guest-el{
    color:blue

}